<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="admin/common/head"></head>

<script th:inline="javascript">
    $(document).ready(function(){;
        datePickerSet($("#weeklyDate"));
        getWeeklyDetail([[${id}]]);
    });
</script>

<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="admin/common/sidebar"></div>
        <div class="col py-3">
            <th:block th:replace="admin/weekly/fragment :: weeklyTitle"/>

            <!-- Main Contents -->
            <div class="container">
                <form class="form-horizontal" id="weeklyFrm">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">제목</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-large" id="title" name="title" placeholder="제목"  disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weeklyDate" class="col-sm-2 control-label">주차</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-large" id="weeklyDate" name="weeklyDate" disabled="disabled">
                        </div>
                    </div>

                    <!-- html append -->
                    <div id="imageDetailView"></div>
                    <div id="imageEditView" class="hide"></div>
                    <!-- html append -->


                    <br>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-primary" id="updateViewBtn" onclick="commonUpdateViewSetting('weekly')">수정</button>
                    <button type="button" class="btn btn-outline-primary hide" id="updateProcessBtn" onclick="commonInsertAndUpdate('weekly', 'put')">수정완료</button>
                    <button type="button" class="btn btn-outline-primary" id="deleteBtn" onclick="commonDelete('weekly')">삭제</button>
                    <a class="btn btn-outline-primary" th:href="@{/admin/weekly}">목록 </a>
                </form>
            </div>
            <br><br><br><br>
            <!-- Main Contents -->

        </div>
    </div>
</div>

</body>
</html>
