<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="admin/common/head"></head>

<script th:inline="javascript">

    var code = [[${code}]];

    switch(code){
        case "E1" : e1Exception(); break;
        case "E2" : e2Exception(); break;
        case "Cs" : createSuccess(); break;
        case "Us" : updateSuccess(); break;
    }
</script>

<body>
</body>
</html>
