<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

<head th:replace="admin/common/head"></head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(function (){
        setBasicInfoView1();
    })
</script>

<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="admin/common/sidebar"></div>
        <div class="col py-3">
            <th:block th:replace="admin/basicInfo/fragment :: basicInfoTitle"/>

            <!-- Main Contents -->
            <div class="container">
                <form class="form-horizontal">
                    <input type="hidden" name="id" id="id">
                    <div class="form-group">
                        <label for="name" id="nameLabel1" class="control-label label-margin-left hide" style="color: red">교회명은 비워둘 수 없습니다</label>
                        <label for="name" id="nameLabel2" class="control-label label-margin-left" >교회명</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-large" id="name" name="name" placeholder="000 교회">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="senior_pastor_name" id="senior_pastor_name_Label1" class="control-label label-margin-left hide" style="color: red">담임목사 명은 비워둘 수 없습니다</label>
                        <label for="senior_pastor_name" id="senior_pastor_name_Label2" class="control-label label-margin-left" >담임목사</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength="13" class="form-control input-large" id="senior_pastor_name" name="senior_pastor_name" placeholder="홍길동">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="callNumber"  id="callNumberLabel1" class="control-label label-margin-left hide" style="color: red">전화번호는 비워둘 수 없습니다</label>
                        <label for="callNumber"  id="callNumberLabel2" class="control-label label-margin-left">전화번호</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength="13" class="form-control input-large" id="callNumber" name="callNumber" placeholder="예) 02-123-1234">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="basicAddress" id="basicAddressLabel1" class="control-label label-margin-left hide" style="color: red">주소는 비워둘 수 없습니다</label>
                        <label for="basicAddress" id="basicAddressLabel2" class="control-label label-margin-left">주소</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-large" id="basicAddress" name="basicAddress" placeholder="기본주소" onclick="addressSearch()" ><br>
                            <input type="text" style="margin-top: -20px" class="form-control input-large" id="detailAddress" name="detailAddress">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="youtubeURL" class="label-margin-left control-label inputMarginTop">(선택) 온라인 예배 링크</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength="13" class="form-control input-large" id="youtubeURL" name="youtubeURL" placeholder="www.youtube.com" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kakaoPage" class="label-margin-left control-label inputMarginTop">(선택) 카카오 페이지</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength="13" class="form-control input-large" id="kakaoPage" name="kakaoPage" placeholder="kakaoPage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="instagram" class="label-margin-left control-label inputMarginTop">(선택) 인스타그램 링크</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength="13" class="form-control input-large" id="instagram" name="instagram" placeholder="www.instagram.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="blog" class="label-margin-left control-label inputMarginTop">(선택) 블로그 링크</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength="13" class="form-control input-large" id="blog" name="blog" placeholder="www.naver.com">
                        </div>
                    </div>
                    <br>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-primary" onclick="goView2()">다음</button>
                    <a class="btn btn-outline-primary" th:href="@{/admin}">취소</a>
                </form>
            </div>
            <br><br><br><br>
            <!-- Main Contents -->

        </div>
    </div>
</div>

</body>
</html>