<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="admin/common/head"></head>


<script th:inline="javascript">
$(document).ready(function (){
    securityTabControl([[${nowTab}]]);
    securityPaging([[${accountPagingData}]],
        [[${rolePagingData}]],
        [[${resourcePagingData}]]);
})

function createFunc() {

    let type        = "post";
    let url         = "/admin/security/role";
    let redirectUrl = "/admin/security?nowTab=tab2";
    let csrfHeader  = $("#_csrf_header").attr('content');
    let csrfToken   = $("#_csrf").attr('content');
    let data        = {"roleName":$("#roleName").val(), "roleNum":$("#roleNum").val(), "roleDesc":$("#roleDesc").val()};

    ajaxComm(type, data, url, redirectUrl, csrfHeader, csrfToken);
}

</script>

<body>
<div class="adminWrapper">
    <div th:replace="admin/common/sidebar"></div>
    <div class = 'mainContent container mt-5 ml-3'>
        <th:block th:replace="admin/security/fragment/tabContents :: header"/>
        <div class="tab-content">
            <th:block th:replace="admin/security/fragment/tabContents :: userList"/>
            <th:block th:replace="admin/security/fragment/tabContents :: roleCreate"/>
            <th:block th:replace="admin/security/fragment/tabContents :: resourceList"/>
        </div>
    </div>
</div>
</body>
</html>
