<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="admin/common/head"></head>

<script th:inline="javascript">

$(document).ready(function (){
    securityTabControl([[${nowTab}]]);
    securityPaging([[${accountPagingData}]],
                   [[${rolePagingData}]],
                   [[${resourcePagingData}]]);
})


function updateFunc(){
    let type        = "put";
    let url         = "/admin/security/role/" + $("#id").val();
    let redirectUrl = "/admin/security?nowTab=tab2";
    let csrfHeader  = $("#_csrf_header").attr('content');
    let csrfToken   = $("#_csrf").attr('content');
    let data        = {"id":$("#id").val(), "roleName":$("#roleName").val(),
                       "roleDesc":$("#roleDesc").val(), "roleNum":$("#roleNum").val()};

    ajaxComm(type, data, type, url, redirectUrl, csrfHeader, csrfToken);
}


function deleteFunc(){
    let check = confirm('정말 삭제하시겠습니까');
    if(check) {
        let type        = "delete";
        let url         = "/admin/security/role/" + $("#id").val();
        let redirectUrl = "/admin/security?nowTab=tab2";
        let csrfHeader  = $("#_csrf_header").attr('content');
        let csrfToken   = $("#_csrf").attr('content');
        let data        = "";

        ajaxComm(type, data, type, url, redirectUrl, csrfHeader, csrfToken);
    }
}

</script>


<body>
<div class="adminWrapper">
    <div th:replace="admin/common/sidebar"></div>
    <div class = 'mainContent container mt-5 ml-3'>
        <th:block th:replace="admin/security/fragment/tabContents :: header"/>
        <div class="tab-content">
            <th:block th:replace="admin/security/fragment/tabContents :: userList"/>
            <th:block th:replace="admin/security/fragment/tabContents :: roleDetail"/>
            <th:block th:replace="admin/security/fragment/tabContents :: resourceList"/>
        </div>
    </div>
</div>
</body>
</html>
