<nav class="customSideBar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <br><br><br>
        <a class="nav-link" href="/admin">
          HOME
        </a>
        <a class="nav-link" href="">
          DEVELOPER
        </a>
        <a class="nav-link" href="">
          성도
        </a>
        <a class="nav-link" href="">
          헌금
        </a>
        <a class="nav-link" href="">
          캘린더
        </a>
        <a class="nav-link" href="">
          갤러리
        </a>
      </li>
    </ul>
  </div>
</nav>

