<div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bgColoe">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
  <br>
    <h3>Church Manager</h3>
    <br><br><br>

    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="/admin" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-home"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/members" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-address-card-o"></i> <span class="ms-1 d-none d-sm-inline">성도관리</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-address-card-o"></i> <span class="ms-1 d-none d-sm-inline">출석관리</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/accounting" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-calculator"></i> <span class="ms-1 d-none d-sm-inline">회계관리</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/calendars" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa fa-calendar"></i> <span class="ms-1 d-none d-sm-inline">일정관리</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/galleries" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-file-image-o"></i> <span class="ms-1 d-none d-sm-inline">갤러리</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/notices" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-file-text-o"></i> <span class="ms-1 d-none d-sm-inline">공지사항</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/weekly" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-book"></i> <span class="ms-1 d-none d-sm-inline">주보관리</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/worshipVideos" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-youtube-play"></i> <span class="ms-1 d-none d-sm-inline">예배링크</span>
        </a>
      </li>


      <br><br><br>
      <li class="nav-item">
        <a href="/admin/security" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-laptop"></i> <span class="ms-1 d-none d-sm-inline">Security</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/batch/summernote" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-laptop"></i> <span class="ms-1 d-none d-sm-inline">Summernote Batch</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/basicInfo" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-laptop"></i> <span class="ms-1 d-none d-sm-inline">BasicInfo</span>
        </a>
      </li>
      <br><br><br>


      <li class="nav-item">
        <a href="/adminLogout" class="nav-link align-middle px-0 sidebarColor">
          <i class="fs-4 fa fa-remove"></i> <span class="ms-1 d-none d-sm-inline">로그아웃</span>
        </a>
      </li>

    </ul>
  </div>
</div>

