<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="admin/common/head"></head>


<script th:inline="javascript">
$(document).ready(function (){
    securityTabControl([[${nowTab}]]);
    alert([[${nowTab}]]);
    securityPaging([[${accountPagingData}]],
        [[${rolePagingData}]],
        [[${resourcePagingData}]]);
})

function objToJson(formData){
    var data = formData;
    var obj = {};
    $.each(data, function(idx, ele){
        obj[ele.name] = ele.value;
    });
    return obj;
}

function createFunc() {

    let test = $("#userForm").serialize();
    let test2 = $("#userForm").serializeArray();
    let jsonObj = objToJson(test2);
    alert(JSON.stringify(jsonObj));
    /*
    let type        = "post";
    let url         = "/admin/security/account";
    let redirectUrl = "/admin/security";
    let csrfHeader  = $("#_csrf_header").attr('content');
    let csrfToken   = $("#_csrf").attr('content');
    let data        = {"username":$("#username").val(), "password":$("#password").val(),
                       "passwordCheck":$("#passwordCheck").val(), "role":$("#roleName").val()};

    ajaxComm(type, data, url, redirectUrl, csrfHeader, csrfToken);
*/
}


</script>

<body>
<div class="adminWrapper">
    <div th:replace="admin/common/sidebar"></div>
    <div class = 'mainContent container mt-5 ml-3'>
        <th:block th:replace="admin/security/fragment/tabContents :: header"/>
        <div class="tab-content">
            <th:block th:replace="admin/security/fragment/tabContents :: userCreate"/>
            <th:block th:replace="admin/security/fragment/tabContents :: roleList"/>
            <th:block th:replace="admin/security/fragment/tabContents :: resourceList"/>
        </div>
    </div>
</div>
</body>
</html>
