
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 가로 5칸 */
    grid-gap: 10px;
    grid-auto-rows: minmax(260px, auto);   /*세로 최소 최대 값*/
}
.item1 {
    grid-column: 1 / 5;
    grid-row: 1;
}
.item2 {
    grid-column: 2 / 4;
    grid-row: 2;
}

.sidebarColor{
    color: #252625;
}

.bgColoe{
    background-color: #dfeae3;
}

.inputMarginTop{
    margin-top:10px;
}


.imgSample{
    max-width: 150px;
}

.weeklyImg{
    max-width: 55vw;
}

.note-frame {
    margin-left: 15px;
}

.label-margin-left {
    margin-left: 13px;
}

.btn-margin-left {
    margin-left:530px;
}

.hide {
    display: none;
}