<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="admin/common/head"></head>

<script th:inline="javascript">
    $(document).ready(function(){
        $("#startDate").datepicker({format : "yyyy-mm-dd", todayHighlight : true, autoclose : true,  language : "ko"});
        $("#endDate").datepicker({format : "yyyy-mm-dd", todayHighlight : true, autoclose : true,  language : "ko"});
        accountingStatisticsDataLoad();
    });
</script>

<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="admin/common/sidebar"></div>
        <div class="col py-3">
            <th:block th:replace="admin/accounting/fragment :: accountingTitle"/>

            <!-- Main Contents -->
            <div class="container">

                <!-- 검색박스 -->
                <div class="row" style="justify-content:center;">
                    <div class="col-sm-3">
                        <input type="text" class="form-control input-group-sm" id="startDate" placeholder="시작일">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control input-group-sm" id="endDate" placeholder="종료일">
                    </div>
                    <select class="custom-select col-sm-2" id="searchId">
                        <option th:value="name" th:text= "검색종류"/>
                        <option th:value="name" th:text= "이름"/>
                        <option th:value="belong" th:text= "교구"/>
                        <option th:value="belong" th:text= "직분"/>
                        <option th:value="offeringKind" th:text= "헌금종류"/>
                    </select>
                    <div class="col-sm-3">
                        <input type="text" class="form-control input-group-sm" id="searchData" placeholder="검색어">
                    </div>
                    <button class="btn btn-outline-primary" style="margin-right: 10px" th:onclick="accountingStatisticsDataLoad()">검색</button>
                </div>
                <br>

                <!-- 테이블 -->
                <h3> 이름별 통계 </h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">금액</th>
                    </tr>
                    </thead>

                    <!-- data append -->
                    <tbody id="nameAppendPath"></tbody>
                    <!-- data append -->

                </table>

                <br><br><br>

                <h3> 헌금 종류별 통계 </h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">종류</th>
                        <th scope="col">금액</th>
                    </tr>
                    </thead>

                    <!-- data append -->
                    <tbody id="offeringKindAppendPath"></tbody>
                    <!-- data append -->

                </table>


                <br>
                <div class="row" style="justify-content:right;">
                    <a class="btn btn-outline-primary"  th:href="@{/admin/accounting}">전체 리스트</a> &nbsp;&nbsp;
                    <button class="btn btn-outline-primary" onclick="accountingExelDown()">엑셀파일 저장</button> &nbsp;&nbsp;
                    <a class="btn btn-outline-primary" th:href="@{/admin/accounting/create}">신규등록</a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

</body>
</html>
