<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="admin/common/head"></head>

<script th:inline="javascript">
    $(document).ready(function(){

    });
</script>

<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="admin/common/sidebar"></div>
        <div class="col py-3">
            <th:block th:replace="admin/gallery/fragment :: galleryTitle"/>

            <!-- Main Contents -->
            <div class="container">
                <form class="form-horizontal" id="withFileUploadFrm" th:object="${gallery}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">제목</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-large" placeholder="제목" id="title" th:feild="*{title}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image1" class="col-sm-2 control-label" accept=".gif, .jpg, .png">이미지 1</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file input-large" multiple="multiple" id="image1" name="image1" accept=".gif, .jpg, .png">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image2" class="col-sm-2 control-label" accept=".gif, .jpg, .png">이미지 2</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file input-large" multiple="multiple" id="image2" name="image2" accept=".gif, .jpg, .png">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image3" class="col-sm-2 control-label" accept=".gif, .jpg, .png">이미지 3</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file input-large" multiple="multiple" id="image3" name="image3" accept=".gif, .jpg, .png">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image4" class="col-sm-2 control-label" accept=".gif, .jpg, .png">이미지 4</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file input-large" multiple="multiple" id="image4" name="image4" accept=".gif, .jpg, .png">
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="image5" class="col-sm-2 control-label" accept=".gif, .jpg, .png">이미지 5</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control-file input-large" multiple="multiple" id="image5" name="image5" accept=".gif, .jpg, .png">
                    </div>
                </div>
                    <div class="form-group">
                        <label for="image6" class="col-sm-2 control-label" accept=".gif, .jpg, .png">이미지 6</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file input-large" multiple="multiple" id="image6" name="image6" accept=".gif, .jpg, .png">
                        </div>
                    </div>

                    <br>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-primary" onclick="galleryCreateAndUpdateProcess('post')">등록</button>
                    <a class="btn btn-outline-primary" th:href="@{/admin/members}">목록 </a>
                </form>
            </div>
            <br><br><br><br>
            <!-- Main Contents -->

        </div>
    </div>
</div>

</body>
</html>